* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   overflow: hidden;
}

.container {
   width: 1140px;
   margin: 0 auto;
}

.promo {
   padding: 71px 0 62px;
   height: 800px;
   background: url('../img/main_bg.jpg') center center/cover no-repeat;
}

.logo .logo_img {
   display: block;
   margin: 0 auto;
}

.logo .logo_text {
   margin-top: 14px;
   text-align: center;
   font-family: Roboto;
   text-transform: uppercase;
   font-style: normal;
   font-weight: 500;
   font-size: 15px;
   line-height: 24px;
   color: white;
}
